body{
    text-align: center;
    background-color: gray;
}

label, input{
    display: block;
    max-width: 50%;
    margin: 10px auto;
}

#submit{
    margin: 10px 0px;
}

#output{
    border: 1px solid black;
    max-width: 50%;
    margin: auto;
    height: 20vw;
}